{% extends "personal/header.html" %}

{% block content %}
<body>
	<div style="background:#e0e0e0; !important" class="jumbotron">
	<h1>Real Estate Tax Calculator</h1>
		<b>
		Welcome to the greatest website you'll ever use!<br>
		Tired of constantly breaking out the calculator and opening seemingly endless links to find county, municipal, and school district millages? Well this site is for <em>you!</em><br>
		Click the button below to stop pulling your hair out over minute details and <em>get $?#@ done!</em><br><br>
		</b>
		<a class="btn btn-primary" href="/webapp" role="button" width="200">Get Started</a>
	</div>
</body>
{% endblock %}