{% extends "personal/header.html" %}

{% block content %}
<div style="background:#e0e0e0; !important" class="jumbotron">
	<h1>About the developer</h1>
		<body>
			Lukas Basse is a Computer Scientist in the making at The Pennsylvania State University. 
			His mother graciously presented to him the tedious work that was millage calculation, and asked if anything could be done to deal with it.
			He gladly accepted the challenge and the fruits of his labour can be found here.
		</body>
		<br>
		<h1>Contact Information</h1>
		<body>
			Of course, his work couldn't have been flawless on the first attempt, nor could everyone's needs be covered. 
			If anything is unclear, not working, or missing entirely, please don't hesitate to <a href="mailto:lukasbasse22@gmail.com">send him an email</a> (or send him a tweet) and let him know what the problem is with the subject "Millages."<br><br>
			He would also love to hear any criticisms or compliments, so please don't be shy!
			<div class="jumbotron">
				<ul style="list-style-type:none">
					<li>Email: lukasbasse22@gmail.com</li>
					<li>Twitter: <a href="http://www.twitter.com/lukas_basse">@lukas_basse</a></li>
				</ul>
			</div>
		</body>
</div>
{% endblock %}